{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div style="margin-top: 3%;float: none;"  class=" col-md-4 col-sm-4 col-lg-4 center-block panel panel-primary">
     <div class="panel-heading">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        
    </div>
    <div class="panel-body">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}

        <form method="POST" action=".">

         {% csrf_token %}
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                     <p><span style="color: red;">*</span> {{ error|escape }} </p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}                        
                   <p><span style="color: red;">*</span> {{ error|escape }} </p>
              {% endfor %}
            {% endif %}
        {% if messages %}
            <div>
              <strong>Messages:</strong>
              <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
              </ul>
            </div>
        {% endif %}
            <p><label for="id_password1">New Password:</label> <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required=""></p>
<p><label for="id_password2">New Password (again):</label> <input class="form-control" id="id_password2" name="password2" placeholder="New Password (again)" type="password" required=""></p>
                <input type="submit" name="action" class="btn btn-primary" value="change password">
            </form>

       
        
    {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
</div>


{% endblock %}
