{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div style="margin-top: 3%;float: none;"  class=" col-md-4 col-sm-4 col-lg-4 center-block panel panel-primary">
     <div class="panel-heading">
    <h3>{% trans "Change Password" %}</h3>
        
    </div>
    <div class="panel-body">
    <p>{% trans 'Your password is now changed.' %}</p>

<script type="text/javascript">
	setTimeout(function () {
   window.location.href = "/"; //will redirect to your blog page (an ex: blog.html)
}, 2000); //will call the function after 2 secs.
</script>
{% endblock %}
