{% extends "profile.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block heading %}  {% trans "Change Password" %} {% endblock %}
{% block content %}
<div class="col-sm-6">
	<form method="POST" id="passchange" action="{% url 'account_change_password' %}" class="password_change">{% csrf_token %}
        {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                         <p><span style="color: red;">*</span> {{ error|escape }} </p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}                        
                       <p><span style="color: red;">*</span> {{ error|escape }} </p>
                  {% endfor %}
                {% endif %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
        <div class="form-group"><label for="id_oldpassword">Current Password:</label> <input class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password" required></div>
		<div class="form-group"><label for="id_password1">New Password:</label> <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required></div>
		<div class="form-group"><label for="id_password2">New Password (again):</label> <input class="form-control" id="id_password2" name="password2" placeholder="New Password (again)" type="password" required></div>
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>

 </div>
   <script type="text/javascript">
   	document.getElementById("passchange").reset();
   </script>
{% endblock %}
