{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div style="margin-top: 3%;float: none;"  class=" col-md-4 col-sm-4 col-lg-4 center-block panel panel-primary">
     <div class="panel-heading">
    <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </div>
    <div class="panel-body">
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                     <p><span style="color: red;">*</span> {{ error|escape }} </p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}                        
                   <p><span style="color: red;">*</span> {{ error|escape }} </p>
              {% endfor %}
            {% endif %}
        {% if messages %}
            <div>
              <strong>Messages:</strong>
              <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
              </ul>
            </div>
        {% endif %}
        <form method="POST" action="/accounts/password/reset/" class="password_reset">
        <label for="id_email">E-mail:</label> <input class="form-control" id="id_email" name="email" placeholder="E-mail address" size="30" type="email" required>
        <input style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}">
    </form>

    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}
